body{
	background-color: black;
}
.indenter{
	height: 350px;
	
}

.navigation{
	margin-top: 20%;

}

.ipsos {
	  height: 100vh;
}


.navigation a {
	text-decoration: none;
	color: white;
	display: block;
	font-size: 0.8em;
	opacity: 0.6;
}

.navigation a:hover{
	font-size: 1.4em;
	opacity: 0.8;
}

.title{
	margin-top: 25vh;
	color: white;
}

.heading{
	font-size: 4em;
}


.firstImg{
	margin-top:-5% ;
	position: fixed;
	width: 45%;
	z-index: -5;
}

.secondBlock {

	min-height: 650px;
	background-color: white;
	opacity: 0.9;
	
}

.activated{
	font-size: 1em;
	opacity: 0.8;
}

.myText {
	margin-top: 120px;
	opacity: 0;
	font-size: 2em;
	transition: all 2s ease-in;
}


.aWord{
	padding-top: 100px;
	font-size: 2.5em;
	opacity: 0;
	transition: all 1s linear;

}


.thirdBlock {
	background-color: rgba(99, 99, 99, 0.54);
	
	height: auto;
}

.projects {
	font-size: 2.5em;
	color: white;
	margin-top: 70px;
	opacity: 0.8;
	margin-bottom:80px;
}



section div img {
	margin-bottom: 120px;
	
	
}

section p {
	color:white;
	opacity: 0.8;
}

.fourthBlock{
	min-height: 650px;
	background-color: white;
	opacity: 0;
	transition: all 1s ease-out;
	transform: translateY(50px);
}
 .fade-in {
	opacity: 0.8;
	transform: translateY(0);

}

.fourthBlock div  {

	margin-top: 70px;
}

.contact{
	color: black;
	opacity: 0.8;
	font-size: 2.5em;
	margin-bottom: 80px;
}


